/* Estilo padrão da pagina */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background: rgb(13, 75, 181); */
    color: white;
}

/* Estilo da sessão classe game */
.game {
    display: flex;
    flex-direction: column;
    height: 105vh;
    width: 105vw;
    justify-content: center;
    align-items: center;
    background: rgb(27,42,173);
background: radial-gradient(circle, rgba(27,42,173,1) 40%, rgba(19,51,201,1) 78%);
}

/* Estilo do titulo do jogo */
.titulo {
    position: absolute;
    top: 0;
    font-size: 4rem;
    z-index: 2;
    font-weight: bold;
    text-shadow: 4px 4px 4px #0051ff;
}

/* Estilo da tabela de pontuação */
.pontuacao {
    display: flex;
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 40px;
    z-index: 1;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 4px 4px 4px #0051ff;
    border: 3px solid black;
    border-radius: 10px;
    animation: upDown 2s ease-out infinite;
    animation: mudaCorFundo 2s infinite linear;
}

/* Estilo dos contadores de pontuação */
.j-contador, .c-contador {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

/* Estilo das opções: Pedra, Papel, Tesoura */
.opcoes {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    margin-top: 2rem;
}

/* Estilo adicional das escolhas */
.escolha {
    padding: 0.3rem;
    width: 110px;
    height: 130px;
    border: solid;
    border-color: #bac5c8;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px #0051ff;
    background-color: rgb(27,42,173);
    animation: shake 1.3s infinite linear forwards;
}

/* Estilo das escolhas quando selecionadas com o mouse */
.escolha:hover {
  border: solid;
  border-color: white;
  transform: scale(1.15);
  transition: all 0.3s;
}

/* Estilo dos textos de movimentos, turnos, e de nova partida */
.move, .moveEsquerda, .novaPartida {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 4px 4px 4px #0051ff;
}

.turnosNovo {
  border: 3px solid black;
  border-radius: 10px;
  animation: upDown 2s ease-out infinite;
  animation: mudaCorFundo 2s infinite linear;
}

/* Estilo dos textos apresentados */
.textoResultado{
  display: flex;
  text-align: center;
  justify-content: space-around;
  position: relative;
  z-index: 1;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 4px 4px 4px #0051ff;
}

/* Estilo dos textos dos botões */
.textoBtn {
  font-size: 1rem;
  font-weight: bold; 
}


.imgResult {
    border: 2px solid black;
    border-radius: 10px;
    width: 81px;
    height: 84px;
    animation: mudaCorFundo 2s infinite linear;
}

.audio {
  border: 2px solid black;
  border-radius: 30px;
  width: 190px;
  height: 25px;
  animation: mudaCorFundo 2s infinite linear;
}

/* VERSÃO PARA CELULARES */

/* pacote de estilos caso a resulução da tela seja menor que o esperado */
@media screen and (max-width: 800px) {
    /* Estilo da sessão classe game */
.game {
    display: flex;
    flex-direction: column;
    height: 105vh;
    width: 105vw;
    justify-content: center;
    align-items: center;
    background: rgb(27,42,173);
background: radial-gradient(circle, rgba(27,42,173,1) 40%, rgba(19,51,201,1) 78%);
}

/* Estilo do titulo do jogo */
.titulo {
    position: absolute;
    top: 0;
    font-size: 1.7rem;
    z-index: 2;
    font-weight: bold;
    text-shadow: 4px 4px 4px #0051ff;
}

/* Estilo da tabela de pontuação */
.pontuacao {
    display: flex;
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 80px;
    z-index: 1;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 4px 4px 4px #0051ff;
    border: 3px solid black;
    border-radius: 10px;
    animation: upDown 2s ease-out infinite;
    animation: mudaCorFundo 2s infinite linear;
}

/* Estilo dos contadores de pontuação */
.jContador, .cContador {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

/* Estilo das opções: Pedra, Papel, Tesoura */
.opcoes {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    margin-top: 2rem;
}

/* Estilo adicional das escolhas */
.escolha {
    padding: 0.6rem;
    margin: 0.6rem;
    width: 60px;
    height: 75px;
    border: solid;
    border-color: #5c7fed;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px #0051ff;
    background-color: rgb(27,42,173);
    animation: shake 2s infinite linear forwards;
}

/* Estilo das escolhas quando selecionadas com o mouse */
.escolha:hover {
  border: solid;
  border-color: white;
  transform: scale(1.15);
  transition: all 0.3s;
}

/* Estilo dos textos de movimentos, turnos, e de nova partida */
.move, .moveEsquerda, .novaPartida {
    font-size: 1.4rem;
    font-weight: bold;
    text-shadow: 4px 4px 4px #0051ff;
}

.turnosNovo {
  border: 3px solid black;
  border-radius: 10px;
  animation: upDown 2s ease-out infinite;
  animation: mudaCorFundo 2s infinite linear;
}

/* Estilo dos textos apresentados */
.textoResultado{
  display: flex;
  text-align: center;
  justify-content: space-around;
  position: relative;
  z-index: 1;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2.2rem;
  font-weight: bold;
  text-shadow: 4px 4px 4px #0051ff;
}

/* Estilo dos textos dos botões */
.textoBtn {
  font-size: 0.75rem;
  font-weight: bold;
}

img {
    width: 40px;
    height: 42px;
}

.imgResult {
    border: 2px solid black;
    border-radius: 10px;
    width: 40px;
    height: 42px;
    animation: mudaCorFundo 2s infinite linear;
}

.audio {
  border: 2px solid black;
  border-radius: 30px;
  width: 190px;
  height: 25px;
  animation: mudaCorFundo 2s infinite linear;
}
}

/* ÁREA DE ANIMAÇÕES */
@keyframes shake {
  0% {
    border-color: rgb(236,49,49);
    transform: rotate(4deg);
  }
  25% {
    border-color:rgb(223,208,24);
    transform: rotate(0deg);
    transform: translateY(5%);
  }
  50% {
    border-color: rgb(33,238,25);
    transform: rotate(-4deg);
  }
  75% {
    border-color: rgb(26,23,207);
    transform: rotate(0deg);
    transform: translateY(0%);
  }
  100% {
    border-color: rgb(236,49,49);
    transform: rotate(4deg);
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0%);
  } 
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes mudaCorFundo {
  0% {
    border-color: rgb(236,49,49);
    transform: rotate(4deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    border-color: rgb(33,238,25);
    transform: rotate(-4deg);
  }
  75% {
    border-color: rgb(63,49,236);
    transform: rotate(0deg);
  }
  100% {
    border-color: rgb(236,49,49);
    transform: rotate(4deg);
  }
}